APP_NAME="PKN Portal"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://portal.karakternabawiyah.com
APP_PORT=80

APP_LOCALE=en
APP_FALLBACK_LOCALE=en

LOG_CHANNEL=stack
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=pkn_portal
DB_USERNAME=pkn_portal
DB_PASSWORD=CHANGEME

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=public
QUEUE_CONNECTION=database

CACHE_STORE=database

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

TIKA_URL=http://tika:9998

VITE_APP_NAME="${APP_NAME}"

# Set to true to automatically run migrations on container startup
RUN_MIGRATIONS=false
